homeassistant==2024.12.1
monzopy==1.4.2

pytest-asyncio
pytest-homeassistant-custom-component==0.13.191
pytest==8.3.3

# Missing subdependencies of homeassistant
hassil
home-assistant-intents
mutagen
ha-ffmpeg
pymicro_vad
pyspeex_noise